name: Sync Forks

on:
  schedule:
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  sync-fongmi:
    runs-on: ubuntu-latest
    steps:
      - name: Sync FongMi/Release
        uses: tgymnich/fork-sync@v1.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: FongMi  # 上游仓库所有者
          repo: Release  # 上游仓库名
          base: fongmi   # 上游分支
          head: fongmi   # 您的分支（假设相同）
          merge_method: hardreset  # 或 "merge", "rebase"

  sync-fmapp:
    runs-on: ubuntu-latest
    steps:
      - name: Sync lystv/fmapp
        uses: tgymnich/fork-sync@v1.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: lystv
          repo: fmapp
          base: ok
          head: ok
          merge_method: hardreset
